
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="gioHang">
    <div class="container">
        <div class="gioHang_root">
            <h2 style="color:orangered">Đơn hàng của quý khách đã được xác nhận.</h2>
            <h3>Quý khách vui lòng để ý điện thoại và chờ trong 2 - 5 ngày để nhận hàng.</h3>
            <p>
                <a href="@Url.Action("TrangChu", "TrangChu")">
                    Quay Lại Trang Chủ <i class="fas fa-undo"></i>
                </a>
            </p>
        </div>
    </div>
</div>

            

