@model webBanHang.Models.KhuyenMai

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>KHUYẾN MẠI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:red">
            Mã Khuyến Mại
        </dt>

        <dd style="color:black">
            @Html.DisplayFor(model => model.MaKhuyenMai)
        </dd>
        <dt style="color:red">
           Giá Trị
        </dt>

        <dd style="color:black">
            @Html.DisplayFor(model => model.GiaTri)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaKhuyenMai }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
