
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="lienHe">
    <div class="container">
        <div class="lienHe_root"
             style="
				color: #777777;
				padding-top: 40px;
				padding-bottom: 65px;
				font-size: 16px;
			">
            <div class="focus-news">
                <div class="content_HeaderImg">
                    <img src="~/wwwroot/images/kmtet.png" width="1050" height="600" />
                </div>
                <div class="container-md">
                    <div class="row">
                        <div class="tintucnoibat" style="text-align: center;">
                            <h2>Tin tức nổi bật <span class="badge badge-secondary"><i class="fas fa-rss"></i></span></h2>
                        </div>
                    </div>

                    <div class="row">

                        <div class="card-deck">
                            <div class="card">
                                <div class="crop-img1 hovergallery">
                                    <img src="~/wwwroot/images/nong san.jpeg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <a href="">
                                        <h3 class="card-title">Nông sản Việt Nam và những “trái ngọt” từ Hiệp định EVFTA</h3>
                                    </a>
                                    <p class="card-text">
                                        Sau hơn một năm kể từ khi EVFTA có hiệu lực, xuất khẩu nông sản của Việt Nam
                                        sang Liên minh châu Âu (EU) đã và đang có những thay đổi khi các doanh nghiệp Việt Nam tích cực
                                        đẩy mạnh xuất khẩu những sản .
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card">
                                <div class="crop-img1 hovergallery">
                                    <img src="~/wwwroot/images/nongsan1.jpg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <a href="">
                                        <h3 class="card-title">Bảo đảm an toàn nông sản thực phẩm</h3>
                                    </a>
                                    <p class="card-text">
                                        (HNM) - Từ nay đến Tết Nguyên đán Nhâm Dần 2022, nhu cầu tiêu dùng thực phẩm
                                        của người dân Thủ đô nói riêng và cả nước nói chung tiếp tục tăng cao. Do đó, để bảo đảm an toàn thực phẩm cho
                                        người tiêu dùng, ngành Nông nghiệp tăng cường.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card">
                                <div class="crop-img1 hovergallery">
                                    <img src="~/wwwroot/images/thanhlong.jpeg" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <a href="">
                                        <h3 class="card-title">Chủ động các giải pháp tiêu thụ nông sản</h3>
                                    </a>
                                    <p class="card-text">
                                        Với chính sách kiểm soát chặt chẽ hàng nông sản xuất, nhập khẩu trong bối cảnh dịch Covid-19 của Trung Quốc,
                                        việc thông quan bị ảnh hưởng nặng nề khiến hàng nghìn xe container hàng hóa của Việt Nam
                                        bị ùn tắc tại các cửa khẩu tỉnh Lạng Sơn.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="sections bg-light mt-5">
                <div class="container-md">
                    <div class="tintuc">
                        <div class="col-md-12" style="text-align: center;">
                            <h2>Tin tức <span class="badge badge-secondary"><i class="fas fa-rss"></i></span></h2>
                        </div>
                    </div>

                    <div class="tab-content mt-3" id="myTabContent">
                        <div class="row_tintuc">
                            <div class="media">
                                <div class="cropimg2">
                                    <a href="">
                                        <img src="~/wwwroot/images/khuyenmai.jpg" class="rounded" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="">
                                        <h2>Tưng bừng khuyến mãi "Mừng năm mới 2022"</h2>
                                    </a>
                                    Với mỗi hóa đơn mua hàng từ 99.000 đồng, khách hàng được mua thêm 1
                                    sản phẩm theo giá đặc biệt như lốc 6 cam ép Teppy 327ml còn 32.000 đồng/lốc,
                                    dầu gội Clear bạc hà 630g/650g còn 112.900 đồng/chai, nước giặt Omo mactic cửa trên/Comfort
                                    tinh dầu thơm/bền đẹp cửa trước 2.9/3.1kg còn 129.500 đồng/túi...
                                </div>
                            </div>
                            <div class="media">
                                <div class="cropimg2">
                                    <a href="">
                                        <img src="~/wwwroot/images/nongsan2.jpg" class="rounded" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="">
                                        <h2>Nông sản chờ thị trường nội địa</h2>
                                    </a>
                                    Bộ Nông nghiệp và Phát triển nông thôn phối với các địa phương, hiệp hội ngành hàng
                                    tổ chức diễn đàn kết nối nông sản 970 với chủ đề sản xuất, chế biến nông sản thúc đẩy
                                    thị trường nội địa. Diễn đàn tổ chức để đưa ra các giải pháp, thúc đẩy kết nối cung cầu,
                                    tiêu thụ hàng chục nghìn tấn nông sản đang ách tắc tại các cửa khẩu sang Trung Quốc và
                                    hàng trăm nghìn tấn nông sản tại vùng trồng đang đến mùa thu hoạch.
                                </div>
                            </div>
                            <div class="media">
                                <div class="cropimg2">
                                    <a href="">
                                        <img src="~/wwwroot/images/thit.jpg" class="rounded" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="">
                                        <h2>Giá thịt heo tại chợ, siêu thị đồng loạt giảm</h2>
                                    </a>
                                    Khảo sát của VnExpress cho thấy, giá heo tại một số chợ truyền thống,
                                    chợ online và siêu thị bắt đầu hạ nhiệt trong bối cảnh giá heo hơi nhiều nơi xuống
                                    dưới 28.000-30.000 đồng một kg. Tại chợ Bà Chiểu, thịt heo ba rọi từ 180.000 đồng hiện giảm
                                    còn 140.000-150.000 đồng một kg; sườn non 190.000 đồng giảm 20.000 đồng, nạc đùi giảm thêm 10.000
                                    đồng còn 110.000 đồng một kg.
                                </div>
                            </div>
                            <div class="media">
                                <div class="cropimg2">
                                    <a href="">
                                        <img src="~/wwwroot/images/catra.jpeg" class="rounded" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a href="">
                                        <h2>Giá cá tra nguyên liệu chững lại sau khi chạm đỉnh hai năm</h2>
                                    </a>
                                    Sau khi chạm đỉnh hai năm vào cuối tháng 11, giá cá tra nguyên liệu của Việt Nam đã bắt đầu đi
                                    ngang hoặc có dấu hiệu giảm nhẹ vào giữa tháng 12 (khoảng tuần thứ 50 của năm 2021), theo Undercurrent News.

                                    Cụ thể, giá cá tra loại 0,8 - 1 kg vẫn ổn định ở mức 24.000 đồng/kg (tương đương 1,05 USD/kg), nhưng loại 1 -
                                    1,2 kg và hơn 1,2 kg đều giảm 0,8% xuống 24.000 đồng/kg.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>