@model webBanHang.Models.Catalogy

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết danh mục</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:black">
            Tên danh mục
        </dt>

        <dd style="color:black">
            @Html.DisplayFor(model => model.CataName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
